.options {
    position: absolute;
    content: "";
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    border-radius: 8px;
    z-index: 1;
    background-color: #fff;
    top: 28px;
    left: -60px;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    animation: options-animation 0.5s;
    width: max-content;
    height: fit-content;
}

.option,
.option-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
}

.option-active {
    background-color: #3d3d3d;
    color: #fff;
}

.option:hover {
    background-color: #f2f2f2;

}